*{
    margin: 0;
}

html, body{
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 40px;
    justify-content: space-evenly;
}


.flex-item{
    flex: 1;
    background-color: orangered;
    padding: 20px;
    text-align: center;
    margin: 10px;
}
