*{
    margin: 0;
}

body{
    padding: 0;
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    height: 100vh;
    gap: 10px;
    margin: 0 10px;
}

.flex-items1{
    display: flex;
    background-color: orangered;
    margin: 10px;
    padding: 40px;
}
.n12{
    display: flex;
}